.div{
    background: #bebebe;
}
.h1{
   background-color:#e5e2e2;
    color: rgb(179, 26, 26); ;
}
.h2{
    font-style: oblique;
    color: darkgreen;
}
.h3{
    animation: infinite; color: rgb(5, 95, 174);
    font-style: italic;
  
}
